.produto-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.produto-detalhes {
  flex-grow: 1;
}

.produto-nome {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.produto-nome:hover {
  cursor: pointer;
  color: sandybrown;
}

.produto-preco {
  color: rgb(0, 33, 179);
  font-size: 1em;
  margin: 4px 0;
}

.produto-descricao {
  font-size: 0.9em;
  color: #555;
}

.no-products {
  text-align: center;
  padding: 20px;
  color: #888;
}

.produtos-lista {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: 20px;
}